<div class="ml-[240px] flex p-6 justify-start md:justify-between items-center flex-wrap">
    <div class="md:mr-0 mr-2 md:mb-0 mb-2">
        <div class="text-xl font-medium">
            Hello
        </div>
        <div class="text-xs text-gray-500">
            Have a nice day
        </div>
    </div>
    <div>
        <div class="flex items-center">
            <mat-icon aria-hidden="false" aria-label="Example notifications icon" fontIcon="notifications"></mat-icon>
            <div class="h-12 w-[2px] bg-gray-500 mx-8"></div>
            <div class="mr-1 w-10 h-10 rounded-full bg-gray-500">
            </div>
            <div class="mx-1">
                <div>Lekan Kunadu</div>
                <div class="text-xs text-gray-500">Admin</div>
            </div>
            <div class="ml-1">
                <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_down icon" fontIcon="keyboard_arrow_down"></mat-icon>
            </div>
        </div>
    </div>
</div>
